

<div class="fondmyindex">
  <h1 class="h1myindex">Mes réservations</h1>
      <% @bookings.each do |booking| %>
       <div class="card-list">
            <div class="card-list-description">
            <%= cl_image_tag booking.car.photo.key, class:"img-card-list" %>
            <div class="card-list-description-2">
              <div>
                <h3><%= booking.car.title %></h3>
                <p><%= booking.car.description %></p>
              </div>
                <%= link_to "Ajouter un avis", new_booking_review_path(booking_id: booking.id),class:"btn-gradmyindex" %>
            </div>
          </div>
            <div class="card-list-booking-2 d-flex">
                <div class= "card-list-booking-details">
                  <p class="booking-date"> <strong>Location du :</strong></p>
                  <p class="booking-date-2"><%= booking.start_date %></p>
                  <p class="booking-date"> <strong>Au :</strong></p>
                  <p class="booking-date-2"><%= booking.end_date %></p>
                </div>
                <div class="card-list-status">
                <p class="p-status"> <strong>Statut: </strong><%= booking.status %></p>
                </div>
                <% if booking.status != ("Annulé" || "Rejecté") %>
                  <%= link_to "Annuler", cancel_booking_path(booking), class:"btn-annuler"%>
                <% end %>
            </div>
    </div>
        <% end %>
</div>
