

<div class="fondmyindex">
  <h1 class="h1myindex">Mes réservations</h1>
      <% @bookings.each do |booking| %>
       <div class="card-list">
            <div class="card-list-description">
            <%= image_tag "carpardefaut.png", class:"img-card-list" %>
            <div class="card-list-description-2">
              <div>
                <h3><%= booking.car.title %></h3>
                <p><%= booking.car.description %></p>
              </div>
                <%= link_to "Add a Review", new_booking_review_path(booking_id: booking.id),class:"btn-gradmyindex" %>
            </div>
          </div>
            <div class="card-list-booking-2 ">
                <div class= "card-list-booking-details">
                  <p class="booking-date"> <strong>Location du :</strong></p>
                  <p class="booking-date-2"><%= booking.start_date.strftime('%-d %b. %y') %></p>
                  <p class="booking-date"> <strong>Au :</strong></p>
                  <p class="booking-date-2"><%= booking.end_date.strftime('%-d %b. %y') %></p>
                  <p class="p-status"> <strong>Statut: </strong><%= booking.status %></p>
                </div>
                <%# <div class="card-list-status"> %>
                <%# </div> %>
                <div class="card-list-btn">
                    <% if booking.status != ("Annulé" || "Rejected") %>
                      <%= link_to "Annuler", cancel_booking_path(booking), class:"btn-annuler"%>
                    <% end %>
                </div>
            </div>
    </div>
        <% end %>
</div>
