<%# TODO: Check le css !! %>


<div class="fond-cards-booking">
<div class="container">
<div>
<br>
  <%= link_to "Retour",  mycars_path, class:"btn-booking-retour"%>
  </div>
  <h1 id ="booking-title"><%= @car.title %></h1>

  <div class="booking-grid">
    <% @car.bookings.each do |booking| %>
  <div class="booking-card">
      <div class="booking-card-title">
        <h5><strong><%= booking.user.first_name %></strong></h5>
        <p><%= booking.start_date.strftime('%l:%M %p') %> - <%= booking.end_date.strftime('%l:%M %p') %></p>
      </div>
      <div class="booking-actions">
        <% if booking.status == "En Attente" %>
          <div class="d-flex">
            <%= simple_form_for booking do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
              <%= f.submit 'Accepter', class: 'btn-accepter' %>
            <% end %>
            <%= simple_form_for booking do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
              <%= f.submit 'Rejeter', class: 'btn-rejeter' %>
            <% end %>
          </div>
        <% else %>
          <p id="p-status"><%= booking.status %></p>
        <% end %>
      </div>
  </div>
    <% end %>
    </div>
  </div>
</div>
