<%# TODO: Check le css !! %>


<div class="fond-cards">
<div class="container">
  <h1 id ="booking-title"><%= @car.title %></h1>
    <% @car.bookings.each do |booking| %>
  <div class="booking-card">
      <div class="booking-card-title">
        <h5><strong><%= booking.user.first_name %></strong></h5>
        <p><%= booking.start_date.strftime('%l:%M %p') %> - <%= booking.end_date.strftime('%l:%M %p') %></p>
      </div>
      <div class="booking-actions">
        <% if booking.status == "En Attente" %>
          <div class="d-flex">
            <%= simple_form_for booking do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
              <%= f.submit 'Accepter', class: 'btn btn-info' %>
            <% end %>
            <%= simple_form_for booking do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
              <%= f.submit 'Rejecter', class: 'btn btn-light' %>
            <% end %>
          </div>
        <% else %>
          <%= booking.status %>
        <% end %>
      </div>
  </div>
    <% end %>
  </div>
</div>
