<div class="fond-cards">
  <h1 class="title-cards">Les grosses carettes tunées bien fraîches chacal</h1>

<div class="container">

    <div class="row justify-content-center m-2 " data-sort-target="apear">
      <div class="col-sm-8 my-3">
        <%= form_with url: cars_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Choisis la ville où tu veux rider chacal"
            %>
          <%= submit_tag "Rechercher", address: "", class: "btn-gradshow-2" %>
        <% end %>
      </div>
    </div>

    <% if @cars.first == nil %>
      <p class="p-nocar" >Pas de voitures disponible dans cette ville</p>
    <% end %>

  <div class="cards">
    <% @cars.each do |car| %>
      <%= link_to(car_path(car)) do %>
        <div class="cardo">
        <%= cl_image_tag car.photo.key if car.photo %>
          <%# <%=image_tag("carsfondblanc.jpg")%>
          <div class="content-cards">
          <div class="title-descrition-cardo">
              <h5> <strong><%=car.title%></strong></h5>
              <p id="descrition-paragraphe"><%= car.description %></p>
            </div>
            <div class="price-cardo">
             <p><strong><%= car.price %>€</strong><span id="price-text"> par jour</span> </p>
            </div>
          </div>
        </div>
       <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="mappy" style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


<%# <select class="form-control form-control-lg">
  <option>Toutes les voitures</option>
  <%= @cars.each do |car| %>
<%# <option > <%= car.name</option> %>
<%# <% end %>
<%# </select> %>
