<div class="container">

<div class="d-flex align-items-center justify-content-between">
  <h1>Mes annonces</h1>
  <%= link_to "Nouvelle annonce", new_car_path, class: "link_to" %>
</div>
  <% @cars.each do |car| %>
    <%= link_to(car_path(car)) do %>
      <div class="card-list">
       <div class="d-flex">
          <%= image_tag "#{car.photo}", class: "img-card-list" %>
          <div class="card-list-description">
            <h3> <%= car.title %></h3>
            <p> <%= car.description %></p>
            <p id="card-list-p"> <%= car.created_at %></p>
          </div>
        </div>

        <div class="card-list-booking">
          <% if car.bookings.first != nil %>
            <p>Statut: <%=car.bookings.first.status %></p>
          <% else %>
            <p>Pas de locations</p>
          <% end %>
          <%= link_to "Mes demandes", car_path(car),class:"btn btn-primary m-2" %>
          <%= link_to "Supprimer", car_path(car), data: {turbo_method: :delete, turbo_confirm: "Etes-vous sur de supprimer l'annonce?"}, class:"btn btn-secondary m-2" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= console %>
