<div class="fondmyindex">
  <div class="d-flex align-items-center justify-content-between">
    <h1 class="h1myindex">Mes annonces</h1>
    <%= link_to "Nouvelle annonce", new_car_path, class: "btn-gradmyindex2 " %>
    </div>
    <% @cars.each do |car| %>
  <div class="card-list">
      <%= link_to(car_path(car)) do %>
          <div class="card-list-description">
            <%= cl_image_tag car.photo.key, class: "img-card-list" if car.photo  %>
              <div class="card-list-description-2">
                <div>
                  <h3> <%= car.title %></h3>
                  <h5> <%= car.description %></h5>
                </div>
                <p id="card-list-p"> <%= car.created_at %></p>
              </div>
            </div>
            <div class="card-list-booking">
              <div class="p-status">
                <% if car.bookings.first != nil %>
                  <p> <strong>Statut:</strong> <%=car.bookings.first.status %></p>
                <% else %>
                  <p>Pas de location</p>
                <% end %>
              </div>
              <%= link_to "Mes demandes", car_mes_demandes_path(car),class:"btn-gradshowmy" %>
              <%= link_to "Supprimer", car_path(car), data: {turbo_method: :delete, turbo_confirm: "Etes-vous sur de supprimer l'annonce?"}, class:"btn-gradshowmyg" %>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
