
<div class="fondshow">
  <div class="pt-3">
    <%= link_to "Retour", cars_path, class:"btn-gradshowback pt-2"%>
  </div>
  <div class="marge">
   <div class="cardsshow">
      <div class="cardoshow">
         <div class="parentshow">
            <div class="rondshow"></div>
            <%=image_tag("carpardefaut.png" , class:"img-show")%>
            </div>
        </div>
      <div class="cardoshow">
        <h1 class="title-show"><%= @car.title %></h1>
        <p class="price-show"><%= @car.price %> € <span class="price-day-show"> par jour</span></p>
        <p class="description-show"> <%= @car.description %></p>
      <div class="textshow">
        <p>Marque: <%= @car.brand %></p>
        <p>Modèle: <%= @car.modele %></p>
        <p>Motorisation: <%= @car.motor %></p>
        <p>Carburant: <%=@car.fuel %></p>
        <p>Puissance DIN: <%= @car.power %>Ch</p>
      </div>

      <%  %>
      <% if @car.user != current_user %>
        <div class="select-date">
                          <%= simple_form_for [@car, @booking], data: { controller: 'flatpickr' } do |f| %>
                          <p class="p-form-show"> Reservez votre véhicule</p>
                          <input type="text" data-flatpickr-target="date" data-action="change->flatpickr#setDates", placeholder="Choisir mes dates">
                          <%= f.input :start_date, as: :string,as: :hidden, input_html: { data:{flatpickr_target:"startTime"}}%>
                          <%= f.input :end_date, as: :string,as: :hidden, input_html: {  data:{flatpickr_target:"endTime"} }%>
                          <%= f.submit 'Réserver', class:"btn-gradshow" %>
                          <% end %>
        </div>
      <% else %>
        <%= link_to "Modifier mon annonce", edit_car_path(@car), class: "btn-gradshow btn-show" %>
      <% end %>
    </div>
  </div>
    <div>
        <h3>Avis: </h3>

        <% @car.bookings.each do |booking| %>
          <% @review = booking.reviews.first  %>
            <% if @review %>
              <div class="review-card">
                  <%= @review.comment %>
                  <%= @review.rate %>
              </div>
              <% else %>
                <p> Pas d'avis</p>
              <% end %>
        <% end %>
    </div>
  </div>
</div>
