<div class="fondshow">
  <h1 class="title-show"><%= @car.title %></h1>
  <div class="marge">
   <div class="cardsshow">
      <div class="cardoshow">
         <div class="parentshow">
            <div class="rondshow"></div>
            <%=image_tag("carpardefaut.png" , class:"img-show")%>
          </div>
        </div>
      <div class="cardoshow">
      <div class="textshow">
        <p>Marque: <%= @car.brand %></p>
        <p>Modèle: <%= @car.modele %></p>
        <p>Motorisation: <%= @car.motor %></p>
        <p>Carburant: <%=@car.fuel %></p>
        <p>Puissance DIN: <%= @car.power %>Ch</p>
        <p><%= @car.price %>€ par jour</p>
        <%= link_to "Louer", cars_path, class: "btn-gradshow"%>
        <%= link_to "Retour", cars_path, class:"btn-gradshowback"%>
      </div>
    </div>
  </div>
  </div>
</div>
