
<div class="fondshow">
  <div class="pt-4">
    <%= link_to "Retour", cars_path, class:"btn-gradshowback"%>
  </div>
  <div class="marge">
   <div class="cardsshow">
      <div class="cardoshow">
         <div class="parentshow">
            <div class="rondshow"></div>
            <%=image_tag("carpardefaut.png" , class:"img-show")%>
            </div>
        </div>
      <div class="cardoshow">
        <h1 class="title-show"><%= @car.title %></h1>
        <p class="price-show"><%= @car.price %> € <span class="price-day-show"> par jour</span></p>
        <p class="description-show"> <%= @car.description %></p>

      <% if @car.user != current_user %>
        <div class="select-date">
                          <%= simple_form_for [@car, @booking], data: { controller: 'flatpickr' } do |f| %>
                          <p class="p-form-show"> Réservez votre véhicule</p>
                          <input type="text" data-flatpickr-target="date" data-action="change->flatpickr#setDates", placeholder="Choisir mes dates">
                          <%= f.input :start_date, as: :string,as: :hidden, input_html: { data:{flatpickr_target:"startTime"}}%>
                          <%= f.input :end_date, as: :string,as: :hidden, input_html: {  data:{flatpickr_target:"endTime"} }%>
                          <%= f.submit 'Réserver', class:"btn-gradshow" %>
                          <% end %>
        </div>
      <% else %>
        <%= link_to "Modifier mon annonce", edit_car_path(@car), class: "btn-gradshow btn-show" %>
      <% end %>
      <div class="textshow">
        <p>Marque: <%= @car.brand %></p>
        <p>Modèle: <%= @car.modele %></p>
        <p>Motorisation: <%= @car.motor %></p>
        <p>Carburant: <%=@car.fuel %></p>
        <p>Puissance DIN: <%= @car.power %>Ch</p>
      </div>
    </div>
  </div>
</div>
</div>
<div>  <%# ////////////////////// REVIEW /////////////// %>
   <h1>Test</h1>
    <div class="container-review">

      <% if @car.bookings.empty? %>
          <h2>Pas de booking.</h2>
      <% end %>

          <h1>Nos avis :</h1>
        <% @car.bookings.each do |booking| %>
          <% @review = booking.reviews.first  %>
            <% if @review %>
            <%# REVIEW CARD %>

            <div class= "review-card">
              <%# USER %>

                    <div class= "review-card-user" >
                        <div class="d-flex">
                          <%= image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkO9S6n7ei4cm_etweQm8-kUO4lqWoeSsgDbAr2FLeIw&s") %>

                          <div id="review-card-user-info">
                                <h3><%= booking.user.first_name%><%= booking.user.last_name %></h3>
                                <p><%= @review.rate %></p>
                              </div>
                          </div>
                          <div class = "infos-location">
                              <p>Début de location : <%= booking.start_date %></p>
                              <p>Fin de location : <%= booking.end_date %></p>
                          </div>
                        </div>
                          <hr style="color: #B6FF1C";>
                            <div id="review-card-content">
                            <p>Commentaire :</p>
                                <p><%= @review.comment %></p>
                            </div>
                <%# CONTENT %>
              <% else %>
                <p> Pas encore d'avis, on attend le tiens chacal !!!!</p>
              <% end %>

          <%end  %>


        <% end %>
    </div>

  </div>
</div>
