<div class= "container-css">
  <div class="form-card">
    <%= simple_form_for [@booking, @review] do |f| %>
      <%= f.input :comment, label: "Décrivez vos sensations après avoir fait vos gros wheeling dans votre pépite tunée" %>
      <%= f.input :rate, label: "Notez vos sensations et faites pas le radin chacal /10" %>
      <%= f.submit "Envoyer", class: "btn-gradnew" %>
    <% end %>
  </div>
  <%=image_tag("gif.gif" , class: "gif")%>
</div>
